.card{
    display: flex;
    width: 854px;
    height: 600px;
    margin: auto;
    border-radius: 10%;
    background-color: rgb(118, 165, 252);
    color: white;

}


.Side-1{

border-radius: 10px;
justify-content: start;
margin: 50px 10px;



}
body{
    margin: 60px 20px;
}
 .Side-2{
    
    margin: auto;
    
    width: 427px;
    height: 500px;
    

 }
 .align{
    text-align: center;
   
 }
 h3{
    text-align: center;
    
    margin-top: 50px;
    font-size: 30px;
    
 }
 .info{
   margin-left: 85px;
   font-size: 20px;
   
   
 }
 a{
   text-decoration: none;
   
 }
 .side-3{
   margin-left: 205px;
 }
 #button{
 display: block;
 width: 58%;
 margin-left: 85px;
 font-size:20px ;
 border-radius: 10px;
 background-color:white;
 
 }
 hr{
   width: 10%;
 }
 .social-buttons{
   padding-left: 10px;
 }
